<html>
<head>
<meta charset="UTF-8">
<title>Weight Recorder</title>
</head>
<body>

{{#message}}
<div style="background-color: red;">{{message}}</div>
{{/message}}

{{user.name}}さん、こんにちは

</body>

</html>